.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  margin-top: 2rem;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
.recipe-title {
  font-size: 50px;
  width: auto;
  font-weight: 900;
  margin-bottom: 2rem;
  color: rgb(36, 64, 135);
}
.title-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  /* width: 95%; */
}
.image-container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 1rem;
}
.summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
  vertical-align: top;
  height: 30rem;
}
.health-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hinfo-border {
  width: 25rem;
  border: 1px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin-left: 1rem;
}
.recipe-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 10px;
}
.recipe-button {
  background-color: rgba(36, 64, 135, 0.5);
  margin-right: 1rem;
  border: 0;
  border-radius: 10px;
  height: 2rem;
  width: 8rem;
}
.recipe-button-last {
  background-color: rgba(36, 64, 135, 0.5);
  border: 0;
  border-radius: 10px;
  height: 2rem;
  width: 8rem;
}
.display-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recipe-ingredients {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  width: 70%;
}
.ingredients {
  width: 98%;
  padding-left: 1rem;
}
.instructions {
  width: 98%;
  padding-left: 1rem;
}
.ingredients-title {
  font-size: xx-large;
  width: auto;
  font-weight: 700;
  color: rgb(36, 64, 135);
  text-align: left;
}
.list {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: large;
  font-weight: 500;
  line-height: 30px;
}
.solid {
  background-color: black;
  border-color: black;
  width: 100%;
  height: 1px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.nutrition-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 98%;
  margin-bottom: 1rem;
  border: 1px solid black;
}

h6,
h4,
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgb(36, 64, 135);
}
.last {
  margin-bottom: 0;
}

.nutrition-title {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.light {
  width: 100%;
  height: 0.5px;
  border-color: black;
}

.nutrients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
  line-height: 2px;
  overflow-y: auto;
  height: 14rem;
}

.nutrient {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 2px;
}

.caloric {
  width: 94%;
  font-weight: 600;
  text-align: left;
  margin: 2px;
}

.caloricinfo {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.caloricinfo p {
  width: 65%;
  line-height: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-bottom: 12px;
}

.serving {
  width: 94%;
  font-weight: 800;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}
.wine-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  text-align: center;
  margin-bottom: 2rem;

  padding: 3%;
}
.wineCard {
  width: 10rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.wineCard img {
  margin: 0;
  align-items: center;
  width: 9rem;
  height: 12rem;
  border-radius: 10px;
  object-fit: contain;
}
.wineCard a {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
}
.similar {
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  color: rgb(36, 64, 135);
}
.wineLink {
  color: rgb(36, 64, 135);
  text-align: center;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 1300px) {
  .recipe-img {
    width: 25rem;
  }
}
@media screen and (max-width: 1100px) {
  .recipe-img {
    width: 20rem;
  }
}
@media screen and (max-width: 1000px) {
  .title-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .summary {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .display-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .recipe-ingredients {
    width: 90%;
  }
  .aside {
    width: 90%;
  }
}
.step {
  color: black;
  font-weight: 400;
}
input[type="checkbox"]:checked + .step {
  text-decoration: line-through;
}
