.card-container {
  width: 13rem;
  height: 17rem;
  border: 1px solid black;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(203, 219, 219);
}
.card-img {
  width: 16rem;
  height: 10rem;
  position: relative;
}
.card-info {
  width: auto;
  height: 2rem;
}
.recipe-image {
  width: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
}
.recipe-card-title {
  font-size: medium;
  font-weight: 500;
  width: auto;
  max-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  text-align: center;
  color: rgb(36, 64, 135);
}
.card-link {
  text-decoration: none;
  color: rgb(29, 38, 92);
}

.servings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
}

.time,
.portions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(36, 64, 135);
}
.time {
  border-right: 1px solid black;
  padding-right: 1.5rem;
}
.portions {
  margin-left: 1rem;
}
.text {
  margin-left: 1rem;
  color: rgb(36, 64, 135);
}
.card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: solid;
  transform: scale(1);
}
.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  position: inherit;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.5);
}
.tags p {
  margin-right: 5px;
  text-align: center;
  font-size: x-small;
  font-weight: 700;
}
.vegetarian {
  background-color: darkgreen;
  border-radius: 5px;
}
.vegan {
  background-color: chartreuse;
  border-radius: 5px;
}
.gluten {
  background-color: darkorange;
  border-radius: 5px;
}
.dairy {
  background-color: burlywood;
  border-radius: 5px;
}
.vhealthy {
  background-color: antiquewhite;
  border-radius: 5px;
}
.cheap {
  background-color: gold;
  border-radius: 5px;
}
